:root {
  --border-color: #D9DADE;
  --background-color: #FFFFFF;
  --text-color: #192024;
  --text-color-dimmed: #808F98;
  --text-color-inverted: #F3F7F9;
  --color-primary: #F8D20D;
  --color-info: #0C92DD;
  --color-warning: #E41654;
  --color-success: #00CA99;
  --focus: 0px 0px 0px 4px rgba(0, 0, 0, 0.04);
  --focus-warning: 0px 0px 0px 4px rgba(228, 22, 84, 0.13);
  --focus-success: 0px 0px 0px 4px rgba(0, 202, 153, 0.15);
}