/* Background */
$background-color: #FFFFFF !default;

/* Tint */
$color-default: #16161a !default;
$color-primary: #6C5DD3 !default;
$color-info: #3F8CFF !default;
$color-success: #00CA99 !default;
$color-warning: #ff5427 !default;
$color-ghost: $background-color !default;

/* Text */
$text-color-dimmed: #808F98 !default;
$text-color-inverted: #F3F7F9 !default;
$text-color: #192024 !default;


/* Borders */
$border-color: #eaeaea !default;
$border-color-focus: $color-default !default;

/* Placeholders */
$placeholder-color-primary: lighten($color-primary, 30) !default;
$placeholder-color-success: lighten($color-success, 30) !default;
$placeholder-color-info: lighten($color-info, 30) !default;
$placeholder-color-warning: lighten($color-warning, 30) !default;
$placeholder-color: lighten($color-default, 30) !default;

/* Shadows */
$shadow-focus-primary: 0px 0px 0px 3px rgba($color-primary, 0.23) !default;
$shadow-focus-success: 0px 0px 0px 3px rgba($color-success, 0.27) !default;
$shadow-focus-warning: 0px 0px 0px 3px rgba($color-warning, 0.24) !default;
$shadow-focus-info: 0px 0px 0px 3px rgba($color-info, 0.23) !default;
$shadow-focus-ghost: 0px 0px 0px 3px rgba($color-ghost, 0.23) !default;
$shadow-focus: 0px 0px 0px 3px rgba($color-default, 0.4 ) !default;


