@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

:root {
  --font-family: 'Gothic A1', sans-serif;
  --font-size: '16pt';
  --font-size-h1: '36pt';
  --font-size-h2: '32pt';
  --font-size-h3: '28pt';
  --font-size-h4: '24pt';
  --font-size-h5: '18pt';
  --font-size-h6: '16pt';
  --font-size-paragraph: '16pt';
  --font-size-label: '12pt';
}