@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font-family: 'Inter', sans-serif !default;
$font-size: 16px !default;
$font-size-h1: 36px !default;
$font-size-h2: 32px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 18px !default;
$font-size-h6: 16px !default;
$font-size-paragraph: 16px !default;
$font-size-label: 12px !default;