/* Globals */
$border-radius: 5px !default;
$padding: 15px !default;

/* Form Items */
$form-item-height: 50px !default;
$form-item-height-small: 30px !default;
$form-item-height-large: 75px !default;

/* Margins */
$margin-inter-item: 10px !default;
$margin-inter-group: 20px !default;
$margin-inter-section: 30px !default;
