$button-border-color-focus: $border-color-focus;
$button-border-radius: $border-radius;
$button-color-default: $color-default;
$button-color-info: $color-info;
$button-color-primary: $color-primary;
$button-color-success: $color-success;
$button-color-warning: $color-warning;
$button-font-family: $font-family;
$button-font-size: $font-size;
$button-padding: 12px 17px;
$button-placeholder-color-warning: $placeholder-color-warning;
$button-shadow-focus-info: $shadow-focus-info;
$button-shadow-focus-primary: $shadow-focus-primary;
$button-shadow-focus-success: $shadow-focus-success;
$button-shadow-focus-warning: $shadow-focus-warning;
$button-shadow-focus: $shadow-focus;
$button-text-color-inverted: $text-color-inverted;
$button-transition-easing: $transition-easing;
$button-transition-time: $transition-time;

.lv-button {
  $self: &;
  display: inline-flex;
  position: relative;
  font-family: fallback($button-font-family, fallback($font-family, sans-serif));
  outline: none;
  font-size: fallback($button-font-size, fallback($font-size, 16px));
  border-radius: fallback($button-border-radius, fallback($border-radius, 5px));
  padding: fallback($button-padding, fallback($padding, 5px));
  color: fallback($button-text-color-inverted, fallback($text-color-inverted, #F3F7F9));
  transition: fallback($button-transition-time, fallback($transition-time, .2s)) all fallback($button-transition-easing, fallback($transition-easing, ease-in-out));
  cursor: pointer;
  background-color: fallback($button-color-default, $color-default);
  text-align: center;
  font-weight: 500;
  box-shadow: none;
  border: none;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken(fallback($button-color-default, $color-default), 6);
  }

  &:focus {
    box-shadow: fallback($button-shadow-focus, fallback($shadow-focus, 0px 0px 0px 4px rgba(0, 0, 0, 0.04)));
  }

  // Elements
  &__icon {
    display: inline-block;
    color: fallback($button-text-color-inverted, fallback($text-color-inverted, #F3F7F9));
    margin-right: 5px; // Optical Fix
    content: fallback($button-padding, fallback($padding, 5px));
    &--hidden {
      opacity: 0;
    }
  }

  &__loading {
    color: fallback($button-text-color-inverted, fallback($text-color-inverted, #F3F7F9));
    animation: rotate-cw 1s infinite linear;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
  }

  &__content {
    &--hidden {
      opacity: 0;
    }
  }

  // Modifiers
  &--warning {
    background-color: fallback($button-color-warning, fallback($color-warning, #ff5427));
    &:hover {
      background-color: darken(fallback($button-color-warning, fallback($color-warning, #ff5427)), 6);
    }

    &:focus {
      box-shadow: fallback($button-shadow-focus-warning, fallback($shadow-focus-warning, 0px 0px 0px 4px rgba(0, 0, 0, 0.04)));
    }
  }

  &--primary {
    background-color: fallback($button-color-primary, fallback($color-primary, #6C5DD3));
    &:hover {
      background-color: darken(fallback($button-color-primary, fallback($color-primary, #6C5DD3)), 6);
    }

    &:focus {
      box-shadow: fallback($button-shadow-focus-primary, fallback($shadow-focus-primary, 0px 0px 0px 4px rgba(0, 0, 0, 0.04)));
    }
  }

  &--success {
    background-color: fallback($button-color-success, fallback($color-success, #00CA99));
    &:hover {
      background-color: darken(fallback($button-color-success, fallback($color-success, #00CA99)), 6);
    }

    &:focus {
      box-shadow: fallback($button-shadow-focus-success, fallback($shadow-focus-success, 0px 0px 0px 4px rgba(0, 0, 0, 0.04)));
    }
  }

  &--info {
    background-color: fallback($button-color-info, fallback($color-info, #0C92DD));
    &:hover {
      background-color: darken(fallback($button-color-info, fallback($color-info, #0C92DD)), 6);
    }

    &:focus {
      box-shadow: fallback($button-shadow-focus-info, fallback($shadow-focus-info, 0px 0px 0px 4px rgba(0, 0, 0, 0.04)));
    }
  }

  &--disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}