$layout-padding: 30px;
$layout-menu-border-color: $border-color;

.lv-layout {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  flex-grow: 1;
  width: 100%;
  &__menu,
  &__content,
  &__footer {
    padding: fallback($layout-padding, $padding);
  }
  &__content {
    flex-grow: 1;
  }
  &__menu {
    border-right: 1px solid fallback($layout-menu-border-color, $border-color);
  }
}